# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
dohd
test/dohd_base64_test

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Tags file
tags

# Test binaries
test/dohd_url64_test
test/dohd_url64_extended_test
test/dohd_heap_test
test/dohd_dns_parser_test

# Generated test certificates
test/*.crt
test/*.key
test/*.pem

